
<div class="card" style="background-color: rgb(240, 250, 250);">
    <div class="card-body">
        <h1>O que é Dockerfile ?</h1><br>
            O Dockerfile nada mais é do que um meio que utilizamos para criar nossas próprias imagens. Em outras palavras, ele serve como a receita para construir um container, permitindo definir um ambiente personalizado e próprio para meu projeto pessoal ou empresarial. <br>
    </div>
</div>
