
    <div class="card" style="background-color: rgb(240, 250, 250);">
        <div class="card-body">
            <h1>Oque é Docker? Porque é tão requisitado?</h1><br>
            <p>
                    Em termos simples, o Docker é uma plataforma de software que simplifica o processo de construção, execução, gerenciamento e distribuição de aplicativos. 
                Ele faz isso virtualizando o sistema operacional do computador no qual está instalado e sendo executado.
                Ele permite que os usuários criem ambientes independentes e isolados para iniciar e implantar seus aplicativos. Esses ambientes são chamados de contêineres.
                Isso permitirá que o desenvolvedor execute um contêiner em qualquer máquina.
                Com o Docker, não há mais problemas de dependência ou compilação. Tudo que você precisa fazer é iniciar seu contêiner e seu aplicativo será iniciado imediatamente.
                O Docker é um programa open source desenvolvido pela Docker Inc. com a linguagem de programação GO.
                Sua primeira edição foi lançada em 13 de março de 2013 e, desde seu lançamento, se tornou um software importantíssimo no mundo do desenvolvimento de tecnologia.
                Podemos dizer que as palavras chaves para o Docker são: construir, entregar e rodar em qualquer ambiente (build, ship and run anywhere). <br>
                <h5>Aprofunde-se ainda mais consultando o site oficial do Docker, clique no botão abaixo:</h5>
            </p>
            <button class="btn btn-primary">Site Oficial</button>
        </div>
    </div>

